html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #323232;
  --main-color: rgb(255, 231, 211);
  --main-text: #e15b07;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 5px;
}

input {
  padding: 0 15px;
  border: 1px solid rgb(139, 139, 139);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
